<div class="main_screen">
    <div class="main_card">
        <a href="{{ url_for('students') }}" class="main_card_link">
            <img src="static/img/crowd-100.png" alt="" class="main_card_img">
        </a>
    <p>Students</p>
    </div>
    <div class="main_card">
        <a href="" class="main_card_link">
            <img src="static/img/omnichannel-100.png" alt="" class="main_card_img">
        </a>
        <p>Connect pairs</p>
    </div>
    <div class="main_card">
        <a href="" class="main_card_link">
            <img src="static/img/slack-100.png" alt="" class="main_card_img">
        </a>
        <p>Notify</p>
    </div>
    <div class="main_card">
        <a href="" class="main_card_link">
            <img src="static/img/schedule-100.png" alt="" class="main_card_img">
        </a>
        <p>Schedule</p>
    </div>
</div>