<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PairUP admin page</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="left_nav_bar">
            <img src="static/svg/Logo-WH.svg" alt="" class="navbar_logo">
            <ul class="menu_list">
                <li class="menu_label">Cohorts</li>
                <li class="menu_item">View cohorts</li>
                <li class="menu_item">Add cohort</li>
                <li class="menu_label">Schedule</li>
                <li class="menu_item">View schedule</li>
                <li class="menu_item">New schedule</li>
                <li class="menu_label">Integration</li>
                <li class="menu_item">View integration</li>
                <li class="menu_item">Add integration</li>
            </ul>
        </div>
        <div class="top_nav_bar">
            <ul>
                <li class="top_item">
                    <a href="/logout">
                    <img src="static/svg/account-circle.svg" alt="" class="top_item">
                    </a>
                </li>
                <li class="top_item">
                    <img src="static/svg/bell-circle.svg" alt="" class="top_item">
                </li>
                <li class="top_item">
                    <img src="static/svg/web.svg" alt="" class="top_item">
                </li>
            </ul>
        </div>
        <div class="main_screen">
            Something
        </div>
    </div>
</body>
</html>