<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PairUP admin page</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="left_nav_bar">
            <img src="static/svg/Logo-WH.svg" alt="" class="navbar_logo">
            <ul class="menu_list">
                <li class="menu_label">Administration</li>
                <li class="menu_item">Portal users</li>
                <li class="menu_item">Manage cohorts</li>
                <li class="menu_item">Manage notification</li>
                <li class="menu_item">Manage integration</li>
            </ul>
        </div>
        <div class="top_nav_bar">
            <ul>
                <li class="top_item_username">
                    <p>{{ user }}</p>
                    <p>Administrator</p>
                </li>
                <li class="top_item">
                    <a href="/logout">
                    <img src="static/svg/account-circle.svg" alt="" class="top_item">
                    </a>
                </li>
                <li class="top_item">
                    <img src="static/svg/bell-circle.svg" alt="Alerts" class="top_item">
                </li>
                <li class="top_item">
                    <img src="static/svg/web.svg" alt="Language" class="top_item">
                </li>
            </ul>
        </div>
        <div class="main_screen">
            <div class="main_card">
                <img src="static/svg/students.svg" alt="" class="main_card_img">
                <a href="" class="main_card_link">
                    <p>Students</p>
                </a>
            </div>
            <div class="main_card">
                <a href="" class="main_card_link">
                <img src="static/svg/link-2.svg" alt="" class="main_card_img">
                <p>Generate pairs</p>
                </a>
            </div>
            <div class="main_card">
                <a href="" class="main_card_link">
                    <img src="static/svg/mail.svg" alt="" class="main_card_img">
                    <p>Notify</p>
                </a>
            </div>
            <div class="main_card">
                <a href="" class="main_card_link">
                    <img src="static/svg/calendar.svg" alt="" class="main_card_img">
                    <p>Schedule</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>