<div class="main_screen">
    <div class="main_card">
        <img src="static/svg/students.svg" alt="" class="main_card_img">
        <a href="" class="main_card_link">
            <p>Students</p>
        </a>
    </div>
    <div class="main_card">
        <a href="" class="main_card_link">
        <img src="static/svg/link-2.svg" alt="" class="main_card_img">
        <p>Generate pairs</p>
        </a>
    </div>
    <div class="main_card">
        <a href="" class="main_card_link">
            <img src="static/svg/mail.svg" alt="" class="main_card_img">
            <p>Notify</p>
        </a>
    </div>
    <div class="main_card">
        <a href="" class="main_card_link">
            <img src="static/svg/calendar.svg" alt="" class="main_card_img">
            <p>Schedule</p>
        </a>
    </div>
</div>